* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  /* max-width: 1250px; */
  width: 90%;
  margin: 40px auto;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  align-items: center;
}

.my-ul {
  display: flex;
  gap: 40px;
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.my-ul > li {
  list-style: none;
  color: #1f1534;
  opacity: 0.5;
  transition: 1s;
}

.my-ul > li:hover {
  opacity: 1;
  transform: scale(1.2);
}

.my-ul li a {
  text-decoration: none;
}

.logo {
  font-size: 26px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #458ff6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* section 1 */

.section1 {
  width: 100%;
  margin: 80px auto;
  padding: 0 10px;
}

.my-div1 {
  width: 45%;
}

.my-div1 > h3 {
  width: 100%;
  font-size: 50px;
  font-family: "Mulish", sans-serif;
}

.my-div1 p {
  width: 100%;
  font-size: 21px;
  color: #7d7987;
  font-family: "Mulish", sans-serif;
  padding: 25px 0 45px;
}

.section1 {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.my-div1 button {
  width: 200px;
  height: 60px;
  background-color: #458ff6;
  border-radius: 30px;
  border-color: #458ff6;
  color: #ffffff;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  transition: 1s;
  cursor: pointer;
}

.my-div1 button:hover {
  transform: scale(1.1);
  width: 200px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border-color: #458ff6;
  color: #458ff6;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}

.img1 {
  width: 50%;
  height: 600px;
  background-image: url(./img/trafalgar-header\ illustration\ 1.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* section 2 */

.section2 {
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mulish", sans-serif;
  gap: 25px;
  padding: 0 10px;
}

.section2 h3 {
  font-size: 36px;
  color: #000000;
}

.section2 .line {
  width: 60px;
  border-bottom: 2px solid #000000;
}

.section2 p {
  width: 90%;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  color: #7d7987;
}

/* section 3 */

.section3 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  gap: 50px;
}

.section3-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.section3-main > div {
  width: 30%;
  padding: 40px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.section3-main > div:hover {
  transform: scale(1.1);
}

.section3-main > div > h4 {
  font-size: 24px;
  line-height: 56px;
}

.section3-main > div > p {
  width: 70%;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.section3 button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border-color: #458ff6;
  color: #458ff6;
  font-size: 18px;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.section3 button:hover {
  transform: scale(1.1);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #458ff6;
  color: #ffffff;
  font-size: 18px;
}

/* section 4 */

.section4 {
  width: 90%;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
  padding: 0 10px;
}

.my-div2 {
  width: 28%;
}

.my-div2 > h3 {
  width: 100%;
  font-size: 36px;
}

.section4 .line {
  width: 60px;
  padding: 25px 0 0;
  border-bottom: 2px solid #000000;
}

.my-div2 p {
  width: 100%;
  font-size: 18px;
  color: #7d7987;

  padding: 25px 0 45px;
}

.section4 button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border-color: #458ff6;
  color: #458ff6;
  font-size: 18px;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.section4 button:hover {
  transform: scale(1.1);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #458ff6;
  color: #ffffff;
  font-size: 18px;
}

.img2 {
  width: 50%;
  height: 600px;
  background-image: url(./img/trafalgar-illustration\ sec02\ 1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* section 5 */

.section5 {
  width: 90%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
  padding: 0 10px;
}

.my-div3 {
  width: 27%;
}

.my-div3 > h3 {
  width: 90%;
  font-size: 36px;
}

.section5 .line {
  width: 60px;
  padding: 25px 0 0;
  border-bottom: 2px solid #000000;
}

.my-div3 p {
  width: 100%;
  font-size: 18px;
  color: #7d7987;

  padding: 25px 0 45px;
}

.section5 button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border-color: #458ff6;
  color: #458ff6;
  font-size: 18px;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.section5 button:hover {
  transform: scale(1.1);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #458ff6;
  color: #ffffff;
  font-size: 18px;
}

.img3 {
  width: 50%;
  height: 600px;
  background-image: url(./img/trafalgar-illustration\ sec03\ 1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* section 6 */

.section6 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  border-radius: 24px;
  gap: 25px;
  padding: 65px 120px 90px;
}

.section6 h3 {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
}

.section6 .line {
  width: 60px;
  border-bottom: 2px solid #ffffff;
}

.section6-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.img-name .name p {
  font-size: 22px;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
}

.img-name .name span {
  font-size: 18px;
  line-height: 48px;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
}

.img-name img {
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.par {
  width: 40%;
  font-size: 19px;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
}

/* section 7 */

.section7 {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.section7 h4 {
  font-size: 36px;
}

.section7 .line {
  width: 60px;
  border-bottom: 2px solid #000000;
}

.section7 .main {
  display: flex;
  justify-content: space-between;
}

.section7 .main div {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 30%;
  gap: 20px;
  padding-bottom: 25px;
}

.section7 .main div img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.section7 .main div h4 {
  width: 70%;
  line-height: 32px;
  font-size: 21px;
  padding-left: 20px;
}

.section7 .main div p {
  width: 70%;
  line-height: 28px;
  font-size: 16px;
  padding-left: 20px;
}

.section7 .main div a {
  font-size: 17px;
  color: #4089ed;
  text-decoration: none;
  padding-left: 20px;
}

.section7 button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border-color: #458ff6;
  color: #458ff6;
  font-size: 18px;
  background-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.section7 button:hover {
  transform: scale(1.1);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #458ff6;
  color: #ffffff;
  font-size: 18px;
}

/* footer */

footer {
  margin: 50px 0 0;
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
}

footer .footer-header {
  display: flex;
  flex-direction: column;
  width: 15%;
  font-size: 18px;
  line-height: 28px;
}

footer .header-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer .header-logo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #5b9bf3;
  text-align: center;
  font-weight: 700;
}

.footer-main {
  width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

footer .footer-header h4 {
  font-size: 24px;
}

footer .footer-header p {
  padding: 30px 0;
}

footer div h4 {
  font-size: 20px;
  padding: 20px 0;
}

footer div ul {
  font-size: 18px;
  line-height: 38px;
  font-weight: 100;
  list-style: none;
}

.burger-menu {
  display: none;
}

@media (max-width: 720px) {
  .my-ul {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  /* Section 1*/

  .section1 {
    flex-direction: column;
    justify-content: center;
  }

  .my-div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .my-div1 > h3 {
    width: 100%;
    text-align: center;
  }

  .my-div1 p {
    width: 100%;
    text-align: center;
  }

  .my-div1 button {
    align-self: center;
  }

  .img1 {
    width: 100%;
  }

  /* Section 2*/

  .section2 {
    width: 100%;
  }

  /* Section 3*/

  .section3-main > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section3-main > div > h4 {
    text-align: center;
  }

  .section3-main > div > p {
    text-align: center;
  }

  /* Section 4*/

  .section4 {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .my-div2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .my-div2 > h3 {
    width: 100%;
    text-align: center;
  }

  .section4 .line {
    margin: 0 auto;
  }

  .my-div2 p {
    width: 100%;
    text-align: center;
  }

  .my-div2 button {
    align-self: center;
  }

  .img2 {
    width: 100%;
  }

  /* Section 5*/

  .section5 {
    flex-direction: column;
    justify-content: center;
  }

  .my-div3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .my-div3 > h3 {
    width: 100%;
    text-align: center;
  }

  .section5 .line {
    margin: 0 auto;
  }

  .my-div3 p {
    width: 100%;
    text-align: center;
  }

  .my-div3 button {
    align-self: center;
  }

  .img3 {
    width: 100%;
  }

  /* Section 6*/

  .section6 {
    width: 90%;

    justify-content: space-evenly;
  }

  .section6-main {
    flex-direction: column;
    gap: 50px;
  }

  .par {
    width: 100%;
    text-align: center;
  }

  .section6 .img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-name .name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Section 7*/

  .section7 {
    display: flex;
    flex-direction: column;
  }

  .section7 .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .section7 .main div {
    width: 100%;
  }
}
